@font-face {
    font-display: swap;
    font-family: 'fontello';
    src: url(../../../../../../../../../themes/logico/fonts/fontello.eot?98791691);
    src: url('../../../../../../../../../themes/logico/fonts/fontello.eot?98791691#iefix') format('embedded-opentype'), url(../../../../../../../../../themes/logico/fonts/fontello.woff2?98791691) format('woff2'), url(../../../../../../../../../themes/logico/fonts/fontello.woff?98791691) format('woff'), url(../../../../../../../../../themes/logico/fonts/fontello.ttf?98791691) format('truetype'), url('../../../../../../../../../themes/logico/fonts/fontello.svg?98791691#fontello') format('svg');
    font-weight: 400;
    font-style: normal
}